<!DOCTYPE html>
html
  head
    meta(http-equiv='content-type',content='text/html charset=utf-8')
    meta(description='pug/scss animationページです')
    title Picross pug/scss animation
    link(href='css/picross2.css', type='text/css', rel='stylesheet')
  body
    #container
      form
        input( type="reset" id="reset-btn" )
        label( for="reset-btn" ) リセット
        - var n = 1;
        while n <= 400
          input( type="checkbox" id=`rogic-checkbox-${n}` )
          label( for=`rogic-checkbox-${n++}` )
        .rogic-inner
          - var d = 1;
          while d < 442
            case d
              when 2
                div(class=`rogic-${d++}`)
                  span 5
                  span 4
              when 3
                 div(class=`rogic-${d++}`)
                  span 3
                  span 6
              when 4
                div(class=`rogic-${d++}`)
                  span 2
                  span 7
              when 5
                div(class=`rogic-${d++}`)
                  span 2
                  span 8
              when 6
                div(class=`rogic-${d++}`)
                  span 2
                  span 10
              when 7
                div(class=`rogic-${d++}`)
                  span 2
                  span 7
              when 8
                div(class=`rogic-${d++}`)
                  span 2
                  span 1
                  span 5
              when 9
                div(class=`rogic-${d++}`)
                  span 1
                  span 1
                  span 4
              when 10
                div(class=`rogic-${d++}`)
                  span 1
                  span 4
                  span 1
              when 11
                div(class=`rogic-${d++}`)
                  span 1
                  span 2
                  span 1
              when 12
                div(class=`rogic-${d++}`)
                  span 1
                  span 3
                  span 1
              when 13
                div(class=`rogic-${d++}`)
                  span 1
                  span 2
                  span 2
              when 14
                div(class=`rogic-${d++}`)
                  span 1
                  span 4
                  span 3
              when 15
                div(class=`rogic-${d++}`)
                  span 1
                  span 1
                  span 3                 
              when 16
                div(class=`rogic-${d++}`)
                  span 2
                  span 1
                  span 4
              when 17
                div(class=`rogic-${d++}`)
                  span 1
                  span 3
                  span 5
              when 18
                div(class=`rogic-${d++}`)
                  span 1
                  span 6
              when 19
                div(class=`rogic-${d++}`)
                  span 2
                  span 8
              when 20
                div(class=`rogic-${d++}`)
                  span 4
                  span 4
                  span 5
              when 21
                div(class=`rogic-${d++}`)
                  span 6
                  span 2

              when 22
                div(class=`rogic-${d++}`)
                  span 8
                  span 3
              when 43
                div(class=`rogic-${d++}`)
                  span 2
                  span 1
                  span 2
              when 64
                div(class=`rogic-${d++}`)
                  span 2
                  span 1
                  span 1
              when 85
                div(class=`rogic-${d++}`)
                  span 2
                  span 1
                  span 1
                  span 1
                  span 1
              when 106
                div(class=`rogic-${d++}`)
                  span 2
                  span 1
                  span 1
                  span 1
                  span 2
              when 127
                div(class=`rogic-${d++}`)
                  span 2
                  span 1
                  span 1
                  span 1
                  span 1
              when 148
                div(class=`rogic-${d++}`)
                  span 1
                  span 1
                  span 1
                  span 1
              when 169
                div(class=`rogic-${d++}`)
                  span 2
                  span 1
              when 190
                div(class=`rogic-${d++}`)
                  span 1
                  span 2
                  span 2
                  span 1
              when 211
                div(class=`rogic-${d++}`)
                  span 1
                  span 3
                  span 2
              when 232
                div(class=`rogic-${d++}`)
                  span 1
                  span 1
                  span 3
                  span 1
              when 253
                div(class=`rogic-${d++}`)
                  span 1
                  span 1
                  span 1
                  span 1
              when 274
                div(class=`rogic-${d++}`)
                  span 4
                  span 2
              when 295
                div(class=`rogic-${d++}`)
                  span 6
                  span 1
              when 316
                div(class=`rogic-${d++}`)
                  span 6
                  span 2
              when 337
                div(class=`rogic-${d++}`)
                  span 7
                  span 4
              when 358
                div(class=`rogic-${d++}`)
                  span 8
                  span 5
              when 379
                div(class=`rogic-${d++}`)
                  span 7
                  span 8
              when 400
                div(class=`rogic-${d++}`)
                  span 18
              when 421
                div(class=`rogic-${d++}`)
                  span 5
                  span 8
              default
                div(class=`rogic-${d++}`)